* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  background: #fff;
  color: #222;
}

.header {
    background: #0b6e4f;
    color: #fff;
    padding: 0.8rem 2rem;
    display: flex;
    align-items: center;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.logo {
    height: 60px;
    width: auto;
    object-fit: contain;
}

.nav-bar ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
}

.nav-bar ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 1rem;
    padding: 0.5rem 0.8rem;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.nav-bar ul li a:hover {
    background: rgba(255, 255, 255, 0.2);
    color: #ffd700;
    box-shadow: 0 0 8px #ffd700;
}


.btn-destaque, .btn-agendar, .btn-contato {
    background: #00b894;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-weight: bold;
    color: #fff;
    transition: all 0.3s ease;
    text-decoration: none;
}

.btn-destaque:hover, .btn-agendar:hover, .btn-contato:hover {
    background: #019874;
    color: #fff;
    transform: scale(1.05);
}

@media screen and (max-width: 768px) {
    .logo-container {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    .nav-bar ul {
        flex-direction: column;
        gap: 0.8rem;
        width: 100%;
    }

    .nav-bar ul li a {
        display: block;
        width: 100%;
    }
}

.contato-container {
    max-width: 600px;
    margin: 80px auto;
    padding: 40px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.contato-container h2 {
    font-size: 28px;
    margin-bottom: 30px;
    color: #0b6e4f;
}

.form-contato {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-contato label {
    text-align: left;
    font-weight: bold;
    color: #333;
}

.form-contato input,
.form-contato textarea {
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 100%;
}

.form-contato input:focus,
.form-contato textarea:focus {
    border-color: #0b6e4f;
    outline: none;
}

.form-contato button {
    background: linear-gradient(135deg,#0b6e4f, #0b6e4f);
    color: white;
    border: none;
    padding: 14px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.form-contato button:hover {
    background: linear-gradient(135deg, #0b6e4f, #0b6e4f);
    transform: scale(1.03);
}

.footer {
  background: #0a0a0a;
  color: #bbb;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(30px); }
  to { opacity: 1; transform: translateY(0); }
}